body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-orange{
    color: orange;
}
.flexible-container{
    display: flex;
    padding-bottom: 150px;
    height: 500px;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width p{
    color: #696969;
    
}
.half-width img{
    width: 100%;
}
.link-line{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(245, 134, 115), rgb(219, 122, 103));
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width h2{
    font-size: 40px;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dev-title{
    color: orange;
}
#full-stack{
    height: 80%;
    box-shadow: 5px 7px 40px gray;
    
    
    
}
h2{
    font-size: 40px;
}

.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.baby2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,#00ffff);
    border-image-slice: 1;
}
.baby1{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
.foot-area p{
    text-align: center;
    color: gray;
    font-size: 16px;
}
